 
 #root {
  overflow-x: hidden;
}

.register_page_container{
  margin-top: 10px;
}

.btn{
  background-color: #0bceaf;
  color: #fff;
  padding: 8px 30px;
  font-weight: bold;
  border-radius: 20px;
  border-color: #0bceaf;
}

.btn:hover{
  background-color: #0bceaf;
  color: #fff;
  padding: 8px 30px;
  font-weight: bold;
  border-radius: 20px;
  border-color: #0bce6ba3;
}

.input_style:focus {
  border-color: #0bceaf7d;
  box-shadow: 0 1px 1px #0bceaf7d inset, 0 0 8px #0bceaf7d;
  outline: 0 none;
}

.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
  border-color: #dc35456b;
}

.background_color {
  background: #15cfed;
}

.register_container {
  width: 90%;
  margin-top: 10%;
  margin-left: 4%;
}

.hidden_option {
  display: none;
}

.work_experience {
  margin-top: 40px;
}

.reg_input {
  width: 250px;
}

.warning {
  margin-top: 16px;
  margin-left: 18px;
}

.add_education_button {
  margin-top: 32px;
  margin-left: 10px;
} 
.education_cmp {
  margin-left: 4%;
  margin-top: 10%;
}

.data_saved {
  margin-top: 10%;
}


.finish_button_style {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50%;
  margin-top: 22%;
}
.education_work_data_indication {
  margin-top: 5px;
}

.register_checkbox {
  margin-top: 42px;
  margin-left: 10px;
}

.list_item_content {
  margin-left: 30px;
}

.list_item_cancel {
  float: left;
}

.login_page_style {
  width: 350px;
  margin: 0 auto;
  margin-top: 80px;
  border: 1px solid #e8eff3;
  padding: 10px;
  box-shadow: 2px 2px #e8eff3;
}

.register_link_style {
  width: 100%;
  color: black;
  margin-left: 2%;
  text-decoration: underline;
}

.login_button_style {
  width: 100%;
  margin-bottom: 16px;
}


.progress-bar {
  background-color: #15cfed;

}

a {
  color: #ffffff;
}


.navbar {
    top: 0;
    left: 0;
    right: 0;
    background:#0bceaf0d;
    z-index: 1000;
}
    
    
.navbar-brand{
  padding: 8px 30px;
    font-weight: bold;
    color: black;
}

.navbar-nav .nav-link{
  padding: 8px 30px;
    font-weight: bold;
    color: black;
}

.navbar-nav .nav-link:hover{
  color: #0bceaf;

}
.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
    margin-top: 8px;
}
.toggle {
  margin-top: 6px;
  display: block;
  width: 28px;
  height: 30px;
  width: 50px;
}

.toggle span:after,
.toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
.toggle span:after{
  top: 9px;
}
.toggle span {
  position: relative;
  display: block;
}

.toggle span,
.toggle span:after,
.toggle span:before {
  width: 100%;
  height: 5px;
  background-color:black;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
.toggle.on span {
  background-color: transparent;
}
.toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
.toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}


.nav-item{
  padding: 0 20px 0px 0px;
}


.cv_left_nav_style
{
  float: left;
  margin-left:-10px
}
.side_nav_style{
  width: 0;
  height: 0;
}

.cv_page_style{
  height: 100%;
}

.floating-menu {
  font-family: sans-serif;
  background: yellowgreen;
  padding: 5px;;
  width: 130px;
  z-index: 100;
  position: fixed;
  margin-top: 10%;
  width: 40px;
}
.floating-menu a, 
.floating-menu h3 {
  font-size: 0.9em;
  display: block;
  margin: 0 0.5em;
  color: white;
}