
.side-nav {
  background: #2980B9;
  padding-top: 1.5rem;
}

.side-nav ul {
  margin: 0;
  padding: 0;
}

.side-nav ul li a {
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  color: #ECF0F1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
}

.square {
  box-shadow: 5px 5px 20px #E74C3C;
  height: 200px;
  width: 200px;
  margin: 1rem;
  transition: all 0.2s ease;
}

.vertical-middle-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row; }